<%- include _header.ejs %>


<div class="container body-content">

  <div class="jumbotron">
    <% if (user) { %>
      <% 
      var name = (user.displayName != "unknown") ? user.displayName : user.emails[0] 
      var idp = (user._json.idp) ? user._json.idp : 'Local account'
      idp = idp.replace('.com', '')
      %>
      <h2>Hello <%= name %></h2>
      <p>
        You are now logged in via Azure B2C. Pretty Cool. <br/>
        Your identity provider is: <b style='color:dodgerblue; text-transform:capitalize;'><%= idp %></b>
      </p>
      <a href="/account" class="btn btn-success navbar-btn "><i class="fa fa-address-card"></i>&nbsp; View user account details</a>      
    <% } else { %>
      <h2>Azure B2C Demo App</h2>
      <p>
        This is a simple Node.js web app, designed to demo the sign-up and login process using Azure B2C. Find my <a target="_new" href="https://github.com/benc-uk/B2C-WebApp-OpenIDConnect-NodeJS">source on Github</a>
      </p>
      <a href="/login/?p=B2C_1_signup" class="btn btn-success navbar-btn "><i class="fa fa-user-plus"></i>&nbsp; Sign up as a new user</a>
    <% } %>
  </div>

</div>

 <%- include _footer.ejs %>